#clock {
    height: 350px;

    .hour-hand {
        animation: rotate 43200s infinite linear;
        .hour {
            background: #000;
            height: 40%;
            left: 49%;
            position: absolute;
            top: 10%;
            transform-origin: 50% 100%;
            width: 2%;
        }

    }

    * {
        margin: auto;
        display: block;
    }


    .bet-history {
        background-color: $sidebarBG;
        min-height: 50px;
        margin: 30px 0;
        padding: 15px 15px;
        font-weight: 300;
        color: #999;
        text-align: center;

        .history-icons {
            margin-top: 10px;
            display: flex;
        }

    }
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}