#clock {
    height: 350px;

    .hour-hand {
        animation: rotate 43200s infinite linear;
        .hour {
            background: #000;
            height: 40%;
            left: 49%;
            position: absolute;
            top: 10%;
            transform-origin: 50% 100%;
            width: 2%;
        }

    }

    * {
        margin: auto;
        display: block;
    }


    .bet-history {
        background-color: $sidebarBG;
        min-height: 50px;
        margin: 30px 0;
        padding: 15px 15px;
        font-weight: 300;
        color: #999;
        text-align: center;

        .history-icons {
            margin-top: 10px;
            display: flex;
        }

    }
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}


#clock {
    position: relative;
    width: 200px;
    height: 200px;
    background: #333;
    border-radius: 500px;
    margin: 0 auto 0 auto;
    list-style: none;
    padding: 0;
    background: url(assets/img/clock.png);
}

.timeText {
    position: fixed;
    top: 0;
}

#hand {
    background: url(assets/img/hand.png);
    z-index: 2;
    position: absolute;
    width: 15px;
    height: 200px;
    top: 0;
    left: 92.5px;
    transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out;
}