.navbar {
    background-color: #19191E !important;
    border: none;
    border-bottom: 1px solid #222222 !important;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-nav {
        li {
            a {
                margin: 15px 5px;
                padding: 5px 10px;
                font-size: 12px;
                font-weight: 300;
                text-transform: uppercase;
                color: #999;

                &:hover {
                    color: white !important;
                }
            }
            &:last-of-type a {
                border: 1px solid #07A4B3 !important;
            }
        }

        .active {
            a, a:focus, a:hover {
                background-color: transparent !important;
                color: #eee !important;
            }
        }

        .end {
            a, a:focus {
                background-color: #333 !important;
                border-radius: 5px;
                color: #999 !important;

                &:hover {
                    background-color: #333 !important;
                }

                padding: 4px 10px;
            }

            img {
                border-radius: 50px;
                max-width: 100%;
                height: 22px;
                margin: -8px 6px -6px 0;
            }
        }

        .dropdown a {
            cursor: pointer;
        }
        ul.dropdown-menu {
            background: #222;
            a {
                margin: 1px 0;
                border: transparent !important;
                border-radius: 0;
            }

            .dropdown-divider {
                margin: 8px;
            }
        }
    }

    .navbar-brand {
        font-family: "proxima-nova", sans-serif;
        float: left;
        height: 50px;
        padding: 18px 18px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 100;
        color: #999 !important;

        img {
            width: 27px;
            display: inline-block;
            margin-top: -5px;
        }


        #logo {
            display: none;
        }
        #menu-toggle {
            cursor: pointer;
        }
    }

    .navbar-toggle {
        margin: 13px;
    }
}