/*
    Developed by the Element Softworks team
    team@elementsoftworks.co.uk
*/


$cyan: #07A4B3;

$grey: #555;
$greyHalf: rgba(85, 85, 85, 0.5);

$red: #C7302D;
$redHalf: rgba(199, 48, 45, 0.5);

$blue: #2D47C7;
$blueHalf: rgba(46, 74, 199, 0.5);

$gold: #C7982D;
$goldHalf: rgba(199, 152, 45, 0.5);

$sidebarBG: #19191E;


/* General Site Styling */
html, body {
    background: #1f1f21;
    // background: url("../img/bg.png");
    background-size: 20%;
    min-width: 300px;
}

* {
    font-family: "proxima-nova", sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 1.22px;
}

.animate, .animate:hover {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

hr {
    border-color: #333;
}

a {
    color: $cyan;
    @extend .animate;
    &:hover, &:focus {
        color: white;
        text-decoration: none;
    }

}

.player {
    padding: 2px 2px;
    margin-bottom: 2px;
    background: #222;
    border: 1px solid #232323;
    border-radius: 0;
    color: #999;

    img {
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }

    .label {
        opacity: 0.5;
        min-width: 0;
        width: auto;
        display: inline;
    }

    .amount {
        float: right;
        opacity: 0.5;
        font-weight: bold;
    }

}


.grey {
    color: $grey;
}
.red {
    color: $red;
}
.blue {
    color: $blue;
}
.gold{
    color: $gold;
}


// handles navigation bar styling
@import "styles/navbar";

// handles page wrapping
@import "styles/wrapper";

// handles chat sidebar styling
@import "styles/chat";

// handles the main clock styling
@import "styles/clock";

// handles the betting styling below the clock
@import "styles/betting";

// handles all other pages
@import "styles/pages";



