/*
    Developed by the Element Softworks team
    team@elementsoftworks.co.uk
*/

/* General Site Styling */
html, body {
    background: #1f1f21;
    // background: url("../img/bg.png");
    background-size: 20%;
    min-width: 300px;
}

* {
    font-family: "proxima-nova", sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 1.22px;
}

.animate, .animate:hover {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

$grey: #555;
$red: #C7302D;
$blue: #2D47C7;
$gold: #C7982D;

// handles navigation bar styling
@import "styles/navbar";

// handles page wrapping
@import "styles/wrapper";

// handles chat sidebar styling
@import "styles/chat";

// handles the main clock styling
@import "styles/clock";

// handles the betting styling below the clock
@import "styles/betting";



