/*
    Made by Luke Brown
    me@luke.sx
*/
/* General Site Styling */
html, body {
    background: #222;
    background: url("../img/bg.png");
    background-size: 20%;
    min-width: 300px;
}

body {
    color: #333;
}

* {
    font-family: "proxima-nova", sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 1.22px;
}

.animate, .animate:hover {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}






/* Navbar styling */

.navbar {
    background-color: #19191E !important;
    border: none;
    border-bottom: 1px solid #222222 !important;
    border-radius: 0;

    .navbar-nav {
        li {
            a {
                margin: 15px 5px;
                padding: 5px 10px;
                font-size: 12px;
                font-weight: 300;
                text-transform: uppercase;
                color: #999;

                &:hover {
                    color: white !important;
                }
            }
            &:last-of-type a {
                border: 1px solid #07A4B3 !important;
            }
        }

        .active {
            a, a:focus, a:hover {
                background-color: transparent !important;
                color: #eee !important;
            }
        }

        .end {
            a, a:focus {
                background-color: #333 !important;
                border-radius: 5px;
                color: #999 !important;

                &:hover {
                    background-color: #333 !important;
                }

                padding: 4px 10px;
            }

            img {
                border-radius: 50px;
                max-width: 100%;
                height: 22px;
                margin: -8px 6px -6px 0;
            }
        }

        .dropdown a {
            cursor: pointer;
        }
        ul.dropdown-menu {
            background: #222;
            a {
                margin: 1px 0;
                border: transparent !important;
                border-radius: 0;
            }

            .dropdown-divider {
                margin: 8px;
            }
        }
    }

    .navbar-brand {
        float: left;
        height: 50px;
        padding: 18px 18px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 100;
        color: white !important;
        font-family: "proxima-nova", sans-serif;
    }

    .navbar-brand img {
        width: 27px;
        display: inline-block;
    }

    .navbar-toggle {
        margin: 13px;
    }
}



#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #19191E;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #222;
    height: 100%;
    div {
        text-indent: 20px;
        line-height: 40px;

        a {
            display: block;
            text-decoration: none;
            color: #999999;

            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }

            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }



    .sidebar-brand {
        min-height: 200px;
        padding: 20px 0;
        border-bottom: 1px solid #222;

        a {
            .csgotime-logo {
                max-height: 170px;
                margin: auto;
                display: block;
            }

            color: #999999;

            &:hover {
                color: #fff;
                background: none;
            }
        }
    }

    .chat-box {
        position: relative;
        height: 100%;
    }
    .chat {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #222;
        padding: 10px;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}